volumes:
  db_data:

services:
  db:
    image: postgres:15
    env_file: .env
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 2s
      timeout: 2s
      retries: 30
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  migrator:
    image: migrate/migrate:v4.17.1
    depends_on:
        db:
            condition: service_healthy
    env_file: .env
    volumes:
      - ./backend/migrations:/migrations:ro
    entrypoint:
      - migrate
      - -path=/migrations
      - -database=${DATABASE_URL}
      - up
    restart: on-failure

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file: .env
    depends_on:
      migrator:
          condition: service_completed_successfully
    ports:
      - "8080:8080"